<!DOCTYPE html>
<html data-theme="bumblebee">
  <head>
    <title>CcfcejaAdmin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="navbar bg-[#69132D] text-[#C49A6D]">
        <div class="navbar-start">
          <div class="dropdown">
            <label for="primary-nav-bar" class="md-hide btn-ghost btn-circle btn lg:hidden">
              <svg
              class="swap-off fill-current"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 512 512"
            >
                <path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z" />
              </svg>
            </label>
          </div>
        </div>
        <div class="navbar-center">
          <a class="btn-ghost btn text-xl normal-case">CCFC EJA Admin</a>
        </div>
        <% if @user %>
          <div class="navbar-end">
            <div class="dropdown dropdown-end">
              <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full bg-slate-50">
                  <img src="<%= @user["picture"] %>" />
                </div>
              </label>
              <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-gray-200 text-gray-900 rounded-box w-52">
                <li>
                  <p>
                    Logged in as <b><%= @user["nickname"] %></b>
                  </p>
                </li>
                <li>
                  <%= link_to 'Logout', '/auth/logout', method: :get, data: { turbo: false } %>
                </li>
              </ul>
            </div>
          <% end %>

        </div>
      </div>

      <div class="drawer drawer-mobile">
        <input id="primary-nav-bar" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col p-6">
          <!-- Page content here -->
          <%= render partial: "flash" %>
          <%= yield %>
        </div>

        <% if @user %>
          <div class="drawer-side">
            <label for="primary-nav-bar" class="drawer-overlay"></label>
            <ul class="menu w-80 bg-slate-200 p-4 text-base-content">
              <!-- Sidebar content here -->
              <li>
                <%= link_to "News Articles", admin_news_articles_path %>
              </li>
              <li>
                <%= link_to "Teams", admin_teams_path %>
              </li>
              <li>
                <%= link_to "Sponsors", admin_sponsors_path %>
              </li>
              <li>
                <%= link_to "Videos", admin_videos_path %>
              </li>
              <li>
                <%= button_to 'Publish Site', admin_publications_path, method: :post, data: { turbo: false }, class: "btn btn-primary" %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </header>
  </body>
</html>
